{% extends 'base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='src/images/favicon.ico') }}" />
    <link rel="bookmark" href="{{ url_for('static', filename='src/images/favicon.ico') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/nav.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/grid.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/about.css') }}"></link>
    <title>ISRS</title>
{% endblock %}

{% block section %}
    <section class="my-content">
        <div class="member-outer">
            <div class="member-inner">
                <div class="member-card">
                    <img class="avatar" src="{{ url_for('static', filename='src/images/yiwei.jpg') }}">
                    <p class="developer-name">王議偉</p>
                    <p class="developer-title">Front-end Developer</p>
                    <div>
                        <a class="contact-icons" href="https://www.facebook.com/yiweiWang01" target="_blank">
                            <i class="fab fa-facebook-square fa-2x fa-contact-info"></i>
                        </a>
                        <a class="contact-icons" href="https://github.com/Wang-YiWei" target="_blank">
                            <i class="fab fa-github fa-2x fa-contact-info"></i>
                        </a>
                    </div>
                    <p class="developer-description">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
                        Ipsum passage.
                    </p>
                </div>
                <div class="member-card">
                    <img class="avatar" src="{{ url_for('static', filename='src/images/xianyao.png') }}">
                    <p class="developer-name">黃顯堯</p>
                    <p class="developer-title">Front-end Developer</p>
                    <div>
                        <a class="contact-icons" href="https://www.facebook.com/profile.php?id=100002673256410" target="_blank">
                            <i class="fab fa-facebook-square fa-2x fa-contact-info"></i>
                        </a>
                        <a class="contact-icons" href="https://github.com/eric8607242" target="_blank">
                            <i class="fab fa-github fa-2x fa-contact-info"></i>
                        </a>
                    </div>
                    <p class="developer-description">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                        from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                        College in Virginia.
                    </p>
                </div>
                <div class="member-card">
                    <img class="avatar" src="{{ url_for('static', filename='src/images/dianshan.jpg') }}">
                    <p class="developer-name">陳殿善</p>
                    <p class="developer-title">Front-end Developer</p>
                    <div>
                        <a class="contact-icons" href="https://www.facebook.com/dianshanchen" target="_blank">
                            <i class="fab fa-facebook-square fa-2x fa-contact-info"></i>
                        </a>
                        <a class="contact-icons" href="https://github.com/e652424342007" target="_blank">
                            <i class="fab fa-github fa-2x fa-contact-info"></i>
                        </a>
                    </div>
                    <p class="developer-description">
                        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                        consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                        literature, discovered the undoubtable source.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block end_body_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/nav.js') }}"></script>
{% endblock %}
