{% extends 'base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='src/images/favicon.ico') }}" />
    <link rel="bookmark" href="{{ url_for('static', filename='src/images/favicon.ico') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/nav.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/grid.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/about.css') }}"></link>
    <title>ISRS</title>
{% endblock %}

{% block section %}
    <section class="my-content">
        <div class="member-outer">
            <div class="member-inner">
                <div class="member-card">
                    <img class="avatar" src="{{ url_for('static', filename='src/images/yiwei.jpg') }}">
                    <p class="developer-name">王議偉</p>
                    <p class="developer-title">Front-end Developer</p>
                    <div>
                        <a class="contact-icons" href="https://www.facebook.com/yiweiWang01" target="_blank">
                            <i class="fab fa-facebook-square fa-2x fa-contact-info"></i>
                        </a>
                        <a class="contact-icons" href="https://github.com/Wang-YiWei" target="_blank">
                            <i class="fab fa-github fa-2x fa-contact-info"></i>
                        </a>
                    </div>
                    <p class="developer-description">
                        Yi-Wei Wang contributes to TaiwanStat and concentrates on data visualization . Currently an undergraduate student in Department of Computer Science and Information Engineering in National Cheng Kung University.
                    </p>
                </div>
                <div class="member-card">
                    <img class="avatar" src="{{ url_for('static', filename='src/images/xianyao.png') }}">
                    <p class="developer-name">黃顯堯</p>
                    <p class="developer-title">Android Developer</p>
                    <div>
                        <a class="contact-icons" href="https://www.facebook.com/profile.php?id=100002673256410" target="_blank">
                            <i class="fab fa-facebook-square fa-2x fa-contact-info"></i>
                        </a>
                        <a class="contact-icons" href="https://github.com/eric8607242" target="_blank">
                            <i class="fab fa-github fa-2x fa-contact-info"></i>
                        </a>
                    </div>
                    <p class="developer-description">
                        Xian-Yao Huang contributes to Google employee training bootcamp and concentrates on data visualization and Machine Learning. Currently an undergraduate student in Department of Computer Science and Information Engineering in National Cheng Kung University. In the future, Xian-Yao Huang will be enrolled in National Taiwan university.
                    </p>
                </div>
                <div class="member-card">
                    <img class="avatar" src="{{ url_for('static', filename='src/images/dianshan.jpg') }}">
                    <p class="developer-name">陳殿善</p>
                    <p class="developer-title">Back-end Developer</p>
                    <div>
                        <a class="contact-icons" href="https://www.facebook.com/dianshanchen" target="_blank">
                            <i class="fab fa-facebook-square fa-2x fa-contact-info"></i>
                        </a>
                        <a class="contact-icons" href="https://github.com/e652424342007" target="_blank">
                            <i class="fab fa-github fa-2x fa-contact-info"></i>
                        </a>
                    </div>
                    <p class="developer-description">
                        Dian-Shan Chen contributes to TaiwanStat and concentrates on data visualization . Currently an undergraduate student in Department of Computer Science and Information Engineering in National Cheng Kung University.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block end_body_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/nav.js') }}"></script>
{% endblock %}
