{% macro render_comment(comment) %}
    <li>{{ comment }}</li>
{% endmacro %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% if g.user %}
    <li><span>{{ g.user.username }}</span>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
{% else %}
    <li><a href="{{ url_for('auth.register') }}">Register</a>
    <li><a href="{{ url_for('auth.login') }}">Log In</a>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div id="flash">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}


<ul>
    {% for comment in comments %}
        {{ render_comment(comment) }}
	{% endfor %}
</ul>

<img alt="something" src="{{ url_for('static', filename='fb-cover.jpg') }}">

<script>
    sessionStorage.sheet_id = 10
</script>

<button type="button" onclick="send_request()">123</button>

<script>
    function send_request()
    {
        var sheet = {
            name: "somestring",
            address: "Tainan",
            phone: "09999999"
        }
        $.ajax({
            type: "POST",
            //url: "http://18.191.142.38/test",
            url: "http://127.0.0.1:5000/test",
            data: JSON.stringify(sheet),
            success: showResult,
            error: onError,
            contentType: 'application/json',
            dataType: 'json'
        });
    }

    function showResult(abc){
        console.log(abc)
    }
    
    function onError(abc){
        console.log(abc)
    }
</script>
