{% extends 'base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='src/images/favicon.ico') }}" />
    <link rel="bookmark" href="{{ url_for('static', filename='src/images/favicon.ico') }}" />
    <title>ISRS</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/nav.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/list.css') }}"></link>
{% endblock %}

{% block section %}
    <section id="listApp">

    </section>
{% endblock %}

{% block end_body_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/nav.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/listBundle.js') }}"></script>
{% endblock %}