{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>ISRS - Create Template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/template.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
        crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/MrRio/jsPDF/master/libs/html2pdf.js"></script>
    <script src="https://cdn.rawgit.com/MrRio/jsPDF/master/libs/html2canvas/dist/html2canvas.js"></script>
{% endblock %}

{% block section %}
    <section id="recognition">
    </section>
{% endblock %}

{% block end_body_script %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/nav.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/template.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='src/js/fill-color.js') }}"></script>
{% endblock %}